.img-blog {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 70px !important;
    margin: 0 auto;
    border-radius: 20px;
}

.titulo-blog {
    width: 100%;
}

.contenedor-blog {
    margin-top: 20px !important;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

li {
    margin-left: 15px;
}
h1 {
    margin: 20px 0;
}

h3, p {
    margin: 15px 0;
}
p {
    font-weight: 300;
}

.contenedor-ultimas-publicaciones {
    margin-top: 20px !important;
    margin-bottom: 40px !important;
    width: 90%;
    margin: 0 auto;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}